<nav class="navbar navbar-expand-sm bg-light navbar-light">
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="#">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Game List</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Add Game</a>
    </li>
  </ul>
  <ul class="navbar-nav float-right">
    <li class="nav-item">
      <a class="nav-link" href="#">Log in</a>
    </li>
  </ul>
</nav>