<div class="container">
  <h3>{{pageTitle}}</h3>
  <form
        novalidate
        (ngSubmit)="saveGame()" #f="ngForm">
      <fieldset *ngIf="game">
          <div class="form-group"
               [ngClass]="{'has-error': (gameNameVar.touched ||
                                         gameNameVar.dirty || game.id !== 0) &&
                                         !gameNameVar.valid }">
              <label class="col-md-2 control-label" for="gameNameId">Game Name</label>

              <div class="col-md-8">
                  <input class="form-control"
                         id="gameNameId"
                         type="text"
                         placeholder="Name (required)"
                         required
                         minlength="3"
                         [(ngModel)]=game.name
                         name="name"
                         #gameNameVar="ngModel" />
                  <span class="help-block" *ngIf="(gameNameVar.touched ||
                                                   gameNameVar.dirty || game.id !== 0) &&
                                                   gameNameVar.errors">
                      <span *ngIf="gameNameVar.errors.required">
                          Game name is required.
                      </span>
                      <span *ngIf="gameNameVar.errors.minlength">
                          Game name must be at least three characters.
                      </span>
                  </span>
              </div>
          </div>

          <div class="form-group"
               [ngClass]="{'has-error': (gameCodeVar.touched ||
                                         gameCodeVar.dirty || game.id !== 0) &&
                                         !gameCodeVar.valid }">
              <label class="col-md-2 control-label" for="gameCodeId">Game Code</label>

              <div class="col-md-8">
                  <input class="form-control"
                         id="gameCodeId"
                         type="text"
                         placeholder="Code (required)"
                         required
                         [(ngModel)]=game.code
                         name="code"
                         #gameCodeVar="ngModel" />
                  <span class="help-block" *ngIf="(gameCodeVar.touched ||
                                                   gameCodeVar.dirty || game.id !== 0) &&
                                                   gameCodeVar.errors">
                      <span *ngIf="gameCodeVar.errors.required">
                          Game code is required.
                      </span>
                  </span>
              </div>
          </div>

          <div class="form-group">
              <label class="col-md-2 control-label" for="descriptionId">Description</label>

              <div class="col-md-8">
                  <textarea class="form-control"
                            id="descriptionId"
                            placeholder="Description"
                            rows=3
                            [(ngModel)]=game.description
                            name="description">
                  </textarea>
              </div>
          </div>

          <div class="has-error" *ngIf="errorMessage">{{errorMessage}}</div>

          <div class="form-group">
              <div class="col-md-4 col-md-offset-2">
                  <span>
                      <button class="btn btn-primary" type="submit" style="width:80px;margin-right:10px" [disabled]='!editForm.valid'>
                          {{ editMode ? 'Update' : 'Save'}}
                      </button>
                  </span>
                  <span>
                      <a class="btn btn-default" style="width:80px" (click)="cancel()">
                          Cancel
                      </a>
                  </span>
                  <span *ngIf="editMode">
                      <a class="btn btn-default" style="width:80px" (click)="deleteGame()">
                          Delete
                      </a>
                  </span>
              </div>
          </div>
      </fieldset>
  </form>
</div>
