<div class="row">
  <div class="col-xs-12">
    <a style="cursor: pointer;" class="list-group-item clearfix">
      <div class="pull-left">
        <h4 class="list-group-item-heading">Movie Title:</h4>
        <p>{{movie.title}}</p>
      </div>
      <span class="pull-right">
        <img [src]="movie.imagePath" alt="{{movie.title}}" class="img-responsive" style="max-height: 100px;">
      </span>
    </a>
  </div>
</div>