<!-- Filter by the Title   -->
<div class='row'>
  <div class='col-2'>Filter by:</div>
  <div class='col-4'>
         <input type="text" [(ngModel)]="listFilter">
  </div>
</div>
<div class='row' *ngIf="displayDetail">
  <div class='col-10'>
      <h3>Filtered by: {{listFilter}}</h3>
      {{hitMessage}}
  </div>
</div>