<div class="container">
    <div class="row" >
        <div class="col-xs-12" *ngFor="let movElem of movies"> 
            <app-movie-item [movie]="movElem" (click)="movieSelected(movElem)"></app-movie-item> 
        </div>
        <hr>
    </div>
    <div class="row" *ngIf="showMovie">
        <h2>My Movie Detail:</h2>
        <div class="col-xs-12" >
          <h4>{{showMovie.title}}</h4>
            <p>{{showMovie.synopsis}}</p>
            <br>
            <img [src]="showMovie.imagePath" alt="{{showMovie.title}}" class="center" style="max-height: 50px;">
        </div>
    </div>
</div>



